<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuLU2JveTHU5S9rjKKRn3TnVqOwQl49vo</string>
	<key>GCM_SENDER_ID</key>
	<string>1076439196604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.challa.app</string>
	<key>PROJECT_ID</key>
	<string>challa-7f302</string>
	<key>STORAGE_BUCKET</key>
	<string>challa-7f302.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076439196604:ios:00a54280cb8c1bdf7641b9</string>
</dict>
</plist>